.App {
  text-align: center;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

table {
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 10px;
}

img {
  width: 200px;
  margin: auto;
  border-radius: 30px;
}

.slick-slider {
  
}

body {
  background: rgb(27, 251, 255);
  background: linear-gradient(192deg, rgba(27, 251, 255, 1) 23%, rgba(202, 238, 172, 1) 63%);
}

.slick-dots {
  background-color: rgb(202, 238, 172, 1);
}